
element.style {
}
.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}


card-subtitle {
  font-size: 85%;
}

.header-box {
    padding-bottom: 40px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

body {
    font-family: sans-serif;
}
body {
    margin-bottom: 60px;
}
body {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}
.quote small.author {
    font-weight: bold;
    color: #3677E8;
}
.quote .tags {
    margin-top: 10px;
}
.quote .tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

a {
    color: #4582ec;
    text-decoration: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}


.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}